#body {
  background-color: #000000;
}

#title {
  text-align: center;
}


a {

  width:100%;




     color:#313131;


     position: block;
     -webkit-animation:colorchange 10s infinite alternate;

}



@-webkit-keyframes colorchange {
 0% {

   color: #ff2400;
 }

 10% {

   color: #1de840;
 }

 20% {

   color: #1abc9c;
 }

 30% {

   color: #d35400;
 }

 40% {

   color: #2b1de8;
 }

 50% {

   color: #34495e;
 }

 60% {

   color: #dd00f3;
 }

 70% {

   color: #e8b71d;
 }
 80% {

   color: #f1c40f;
 }

 90% {

   color: #1ddde8;
 }

 100% {

   color: pink;
 }
}



#title {
  text-align: center;
  font-family: 'Pacifico', cursive;
  color: #F27003;
}

#name {
  font-family: 'Pacifico', cursive;
}

#fixMe {
  display:none;
}

#master {
  display: grid;
  grid-template-columns: 300px auto auto 300px;
  grid-template-rows: 100px 500px 300px auto;
  grid-gap: 10px;
  padding: 20px;
font-family: 'EB Garamond', serif;

}

#header {
  grid-column: 1 / span 3;
  grid-row: 1 / span 1;
  background-color: #FA9605;
    font-family: 'EB Garamond', serif;
}

#main {
  grid-column: 2 / span 2;
  grid-row: 2 / span 2;
  background-color: #FF0000;
  border: 3px, #2BF09C;
  font-family: 'EB Garamond', serif;
}

#ad1 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 3;
  background-color: #2EA7CA;
}

#right {
  grid-column: 4 / span 1;
  grid-row: 1 / span 3;
  background-color: #C24CA2;
}
#footer {
  grid-column: 2 / span 3;
  grid-row: 4 / span 1;
 }

#eaglehigh:hover {
  background-color: #4BDA1A;
}

#colored:hover {
  background-color: #1D9CEE;
}

#cenn:hover {

  background-color: #DA3D1A;
}

#this{
  border-radius: 8px;
   border: 2px solid #EA32F0;
   text-align: center;
   margin-left: 903px;
   margin-top: 100px;
}

#this:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
