body {
    background-color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: white;
    max-width: 1300px;
    margin: auto;
}
footer {
    text-align: center;
    margin-top: 180px;
    color: #AAAAAA;
    font-size: 12px;
}
a {
    color: #FFFFFF;
}
a:focus,
a:hover {
    color: #AAAAAA;
}
.spacer-box{
    height: 10px;
}
.boxy {
    border: 2px solid;
    border-radius: 5px;
    border-color: #FE9800;
    height: 600px;
    background-color: #1A1A1A;
}
.quick {
    padding: 0px;
}
.quick > h4 {
    text-align: center;
    font-weight: bold;
    color: #FE9800;
}
.area {
    padding: 20px;
}
.area > div > p {
    font-size: 24px;
}
.area > h6 {
    font-weight: bold;
    color: #FE9800;
    font-size: 36px;
    margin-left: 20px;
}
.area .seperator {
    width: 99%;
}

.seperator {
    height: 2px;
    width: 85%;
    margin: auto;
    background-color: #FE9800;
}
