body {
    background-color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: white;
    margin: auto;
    max-width: 1200px;
}
footer {
    text-align: center;
    margin-top: 30px;
    color: #AAAAAA;
    font-size: 12px;
    background-color: #1A1A1A;
}
a {
    color: #FFFFFF;
}
a:focus,
a:hover {
    color: #AAAAAA;
}
.title {
    font-family: Arial;
    font-weight: 600;
    margin-bottom: 20px;
    padding-left: 15px;
}
.adcaption {
    text-align: center;
    padding-top: 5px;
    font-size: 12px;
    color: #AAAAAA;
}

.thumbdesc{
    color: #FE9800;
    font-size: 16px;
    padding: 5px;
}
.thumbextra {

}